nav {
  background: rgb(53, 52, 52);
  color: white;
  height: 6vh;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

ul > div {
  display: flex;
  justify-content: space-around;
  width: 25%;
}

img {
  height: 40px;
  width: 50px;
  display: none;
}

ul > li {
  font-size: 1.5em;
}

ul > div > li {
  font-size: 1.3em;
}

.menu {
  display: hidden;
}

.menu-close {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 0vw;
  background: gray;
  animation: closeMenu 1s linear;
}

.menu-open {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 70vw;
  background: gray;
  animation: openMenu 1s linear;
}

@keyframes openMenu {
  from {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 0vw;
    background: gray;
  }
  to {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 70vw;
    background: gray;
  }
}
@keyframes closeMenu {
  from {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 70vw;
    background: gray;
  }
  to {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 0vw;
    background: gray;
  }
}

@media (max-width: 1013px) {
  ul > div > li {
    display: none;
  }
  img {
    display: block;
  }
  ul > div > li:nth-child(1) {
    display: block;
  }
}

/* .box-one {
  width: 100px;
  height: 100px;
  background: red;
  animation: move 2s linear;
}

@keyframes move {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}; */
/* div {
  display: flex;
  width: 100vw;
  justify-content: center;
}
h1 {
  animation-name: intro;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  /* animation-iteration-count: infinite; */
/* }
@keyframes intro {
  to {
    transform: translateY(40vh);
    font-size: 5em;
  }
} */